body {
    display: grid;
    grid-auto-flow: column;
}

.square{
    display: grid;
    height: 300px;
    width: 300px;

}

/* #square_blue{
    background-color: blue;
}

#square_red{
    background-color: red;
}

#square_green{
    background-color: green;
}



#square_purple{
    background-color: purple;
} */

h1 {
    display: inline-block;
    margin: auto;
    padding: 20px;
    color: white;
    text-align: center;

    pointer-events: none;
    user-select: none;
}

#square_yellow>h1{
    color: black;
}